<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dashboard.mapper.ConditionMapper">

    <select id="getMetricValue" resultType="java.lang.Long">
        SELECT IFNULL(s.value, 0)
        FROM dept_stats s
        WHERE s.dept_name = #{deptName} AND s.metric_id = #{metricId} AND s.year = #{year}
        LIMIT 1
    </select>

    <select id="getMetricValueById" resultType="java.lang.Long">
        SELECT IFNULL(s.value, 0)
        FROM dept_stats s
        WHERE s.metric_id = #{metricId} AND s.year = #{year}
        LIMIT 1
    </select>

    <select id="getMetricSum" resultType="java.lang.Long">
        SELECT IFNULL(SUM(s.value), 0)
        FROM dept_stats s
        WHERE s.dept_name = #{deptName}
          AND s.metric_id IN
          <foreach collection="metricIds" item="mid" open="(" separator="," close=")">
              #{mid}
          </foreach>
          AND s.year = #{year}
    </select>

    <select id="getEquipmentTrend" resultType="java.util.Map">
        SELECT year AS `year`, value AS `value`
        FROM dept_stats
        WHERE metric_id = #{metricId}
        ORDER BY year ASC
    </select>

</mapper>
